# MySQL Source Database (Database de origem)
MYSQL_SOURCE_HOST=localhost
MYSQL_SOURCE_PORT=3306
MYSQL_SOURCE_USER=root
MYSQL_SOURCE_PASSWORD=root123
MYSQL_SOURCE_DATABASE=

# MySQL Destination Database (Database de destino)
MYSQL_DEST_HOST=localhost
MYSQL_DEST_PORT=3307
MYSQL_DEST_USER=root
MYSQL_DEST_PASSWORD=root123
MYSQL_DEST_DATABASE=

# Buffer Configuration
BUFFER_SIZE=100000
MAX_GOROUTINES=10

# Logging
LOG_LEVEL=info